[user]
	name = Maximiliano Dello Russo
	email = maxidr@gmail.com
	email = mdellorusso@aonken.com.ar
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
[github]
	user = maxidr
[color]
	branch = auto
	diff = auto
	status = auto
[branch]
	autosetuprebase = always
[heroku]
[heroku]
[heroku]
	account = maxidr
