[user]
	name = Maximiliano Dello Russo
	email = mdellorusso@aonken.com.ar
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[github]
	user = maxidr
[color]
	branch = auto
	diff = auto
	status = auto
[branch]
	autosetuprebase = always
[heroku]
	account = maxidr
